/* Header Style */
.btnLogin-popup {
    font-family: 'Times New Roman', Times, serif;
}

header {
    position: fixed;
    min-width: 0;
    top: 0;
    left: 0;
    width: 95%;
    max-height: 1200px;
    padding: 20px 40px; /* reduced padding to avoid overflow */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #ece4db;
    
}

.logo {
    width: 250px;
    height: 70px;
    margin-right: auto;

}


.navigation a {
    position: relative;
    font-size: 1.1em;
    color: maroon;
    text-decoration: none;
    font-weight: 50;
    margin-left: 40px; /* reduced margin to avoid overflow */
}

/* underlines on header */
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after {
    transform: scaleX(1);

}

/* hearder login button */
.navigation .btnLogin-popup {
    width: 110px;
    height: 35px;
    background: transparent;
    border: 2px solid lightgrey;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: maroon;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}

.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;

}

/* creata activity form style */
form {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 700px 0;
    margin: 2rem auto;
    padding: 2rem;
    background: #f7f7f7;
    box-shadow: 0 0 20px #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: maroon;
}

input textarea{
    display: block;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

/* create activity button */
input[type="submit"] {
    background: #ece4db;
    color: maroon;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 85%;
}
input[type="submit"]:hover {
    background: grey;
    
}





