
/* Global Style */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/* Header Style */
.btnLogin-popup {
    font-family: 'Times New Roman', Times, serif;
}

header {
    position: fixed;
    min-width: 0;
    top: 0;
    left: 0;
    width: 95%;
    max-height: 1200px;
    padding: 20px 40px; /* reduced padding to avoid overflow */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #ece4db;
    
}

.logo {
    width: 250px;
    height: 70px;
    margin-right: auto;

}


.navigation a {
    position: relative;
    font-size: 1.1em;
    color: maroon;
    text-decoration: none;
    font-weight: 50;
    margin-left: 40px; /* reduced margin to avoid overflow */
}

/* underlines on header */
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after {
    transform: scaleX(1);

}

/* hearder login button */
.navigation .btnLogin-popup {
    width: 110px;
    height: 35px;
    background: transparent;
    border: 2px solid lightgrey;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: maroon;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}

.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;

}

/* activity cointainer style */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 200px 0;
 
}

.activity {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    min-width: 100px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activity-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    
}



/* Submit Participation button style */
.register-pathway {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
.register-pathway button {
    background-color: maroon ;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.register-pathway button:hover {
    background-color: lightslategrey;
}

